body {
  background-image: url(666.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  font-size: 16px;
  text-align: center;
  color: #ff0000;
  font-family: "Press Start 2P", cursive;
}

h1 {
  animation: blink-text 10s linear infinite;
  font-size: 3em;
}
a {
  font-size: 2em;
  color: #ff0000;
  text-decoration: none;
  animation: blink-text 0.5s linear infinite;
}
@keyframes blink-text {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
